doctype html
html
    head
        title=title
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway&display=swap') 
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/leaflet.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        
        script(src='/javascript/jquery-3.3.1.min.js')
        script(src='/javascript/popper.min.js')
        script(src='/javascript/bootstrap.min.js')
        script(src='/javascript/leaflet.js')

        link(rel='icon', href='images/layers.svg?w=32' sizes="32x32")

    body
        nav.navbar.navbar-expand.align-items-end
            a.navbar-brand(href="/")
                h1=title
          

        block content


    footer
        div.col
            div.row
                div.col
                    div.row
                        |&nbsp;
                div.col
                    div.row.justify-content-end
                        |&nbsp;
